<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap" rel="stylesheet">
    <title>Quiz</title>
</head>
<body>
   <header>
    <h1>Blog</h1>
   </header>
   <p>{{greeting}}</p>
   
   {% for post in Posts %}
        {{post.title | linebreaks}}
        {{post.text | linebreaks}}
        {{post.author | linebreaks}}
        {{post.created_date | linebreaks}}
        {{post.published_date}}
   {% endfor %}
   
</body>